@page
{
    size: 595pt 842pt;
    margin: 2.54cm;
}
body
{
    /*font-family: "Calibri", sans-serif;*/
    font-family: sans-serif;
    font-size: 11pt;
    color: #000000;
    background-color: #ffffff;
}
h1
{
    /* Calibri Light */
    /*font-family: "Calibri Light", sans-serif;*/
    font-family: sans-serif;
    font-size: 16pt;
    color: #2e74b5;
    font-weight: normal;
}
h2
{
    /* Calibri Light */
    font-size: 13pt;
    /*font-family: "Calibri Light", sans-serif;*/
    font-family: sans-serif;
    font-weight: normal;
    color: #2e74b5;
}
h3
{
    font-family: sans-serif;
    font-size: 11pt;
    font-weight: normal;
    color: #3e84c5;
}

.section
{
    page-break-inside: avoid;
    margin-bottom: 3em;
}
#sources
{
    /*page-break-before: always;*/
    margin-top: 10em;
}

var, td
{
    font-family: MJXc-TeX-main-R,MJXc-TeX-main-Rw;
}

table
{
    border-collapse: collapse;
}
th
{
    text-align: right;
    border: 1px solid;
}
td
{
    text-align: left;
    border: 1px solid;
}

img
{
    width: 13cm;
    height: auto;
}
